build/
devel/
install/
log/
.logs/
.ros/
catkin_generated/
CMakeFiles/
*.pyc
__pycache__/
*.bag
*.mp4
*.avi
*.mkv
*.mov
*.wav
*.log
*.zip
*.tar
*.tar.gz
*.bak*
*.before*
*~
.vscode/
.idea/
.DS_Store
Thumbs.db
